## Build
dist/
publish/
bin/
obj/

## Dependencies
node_modules/

## IDE
.vs/
.vscode/
*.user
*.suo

## Environment
.env
.env.*
appsettings.*.local.json

## OS
Thumbs.db
.DS_Store

## Angular
.angular/
